body{
  font-family: "Segoe UI";
}

.page-header{
  margin-top: 0;
}

.title{
  font-weight: lighter;
  margin-left: 20px;
}

.navbar-nav{
  float:right;
  font-size: 45%;
  margin-right: 20px;
}

.nav .navbar-nav > a {
	color: #000;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#app-list{
  margin-top: 30px;
  width: 400px;
}